/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic); */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Cairo', Arial, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

:root {
    --main: #f0963d;
    --text: #333;
    --heading: #000;
    --icon: #000;
    --box: #FFF;
    --header: #d8b692;
    --blue: #0043a0;
    --white: rgb(255, 255, 255);
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --dark: #12121212;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.containar {
    position: relative;
    width: 100%;
}


/****************News*********************/

marquee {
    background-color: var(--blue);
    color: #fff;
    height: 40px;
    width: 100%;
    float: right;
}

marquee span {
    color: var(--white);
    line-height: 38px;
}


/*Start Nav************************************/

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 80px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background: var(--white);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40PX;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    width: 100%;
    display: flex;
    color: var(--white);
}

.navigation ul li a:hover,
.navigation ul li.hovered a {
    color: var(--blue);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: '';
    position: absolute;
    top: -50px;
    right: 0;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: '';
    position: absolute;
    bottom: -50px;
    right: 0;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}


/* End Nav ****************************************/


/* Start Main ************************************/

.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}


/* Top Bar */

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.logo {
    position: relative;
    width: 200px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
}

.logo img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}


/* Card Box*/

.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.cardBox .card {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
}

.cardBox .card:hover {
    background: var(--blue);
}

.cardBox .card .numbers {
    position: relative;
    font-size: 2.5em;
    font-weight: 500;
    color: var(--blue);
}

.cardBox .card .cardName {
    position: relative;
    font-size: 1.1em;
    margin-top: 5px;
    color: var(--black2);
}

.cardBox .card .iconBox {
    font-size: 3.5em;
    color: var(--black2);
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBox {
    color: var(--white);
}


/*school*/

.school {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    margin-top: 10px;
}

.school .front {
    position: relative;
    display: grid;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.school .front img {
    width: 100%;
}


/*---------------------------------------map----------------------------------*/

.map {
    margin-top: 3rem;
    flex: 1 1 25rem;
    border: 1rem solid var(--box);
    box-shadow: 0 .5rem 1rem rgba(88, 88, 88, 0.1);
    border-radius: .5rem;
    width: 100%;
}


/* End Main ************************************/

footer {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 1.5rem;
    font-size: 2rem;
    padding: .2rem;
    color: var(--heading);
    background: var(--box);
    box-shadow: 50px 50px 50px 50px rgba(0, 0, 0, 0.4);
}

footer span {
    color: var(--main);
}

footer ion-icon {
    padding-top: 20px;
    color: red;
    width: 28px;
    height: 28px;
}

@media (max-width:768px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 991px) {
    .navigation {
        left: -300px;
    }
    .navigation.active {
        width: 300px;
        left: 0;
    }
    .main {
        width: 100%;
        left: 0;
    }
    .main.active {
        left: 300px;
    }
    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .school {
        grid-template-columns: repeat(1, 1fr);
    }
    .front {
        overflow-x: auto;
    }
    footer ion-icon {
        padding-top: 7px;
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 480px) {
    .cardBox {
        grid-template-columns: repeat(1, 1fr);
    }
    .cardHeader h2 {
        font-size: 20px;
    }
    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active {
        width: 45%;
        left: 0;
    }
    .toggle {
        z-index: 10001;
    }
    .main.active .toggle {
        position: fixed;
        right: 340px;
        left: initial;
        color: var(--white);
    }
    footer ion-icon {
        padding-top: 7px;
        width: 20px;
        height: 20px;
    }
}